<appSettings>
    <add key="clientid" value="ABNpnlUF8RCuTnDJe5DF5LHytG4q0pO2s9FqLmUA6mzLRuYr5q" />
    <add key="clientsecret" value="jnD8LY5w5veksB2BWJ1fyrWdrbU1gvghPQNBYTGs" />
    <add key="redirectUrl" value="https://developer.intuit.com/v2/OAuth2Playground/RedirectUrl" />
    <add key="appEnvironment" value="sandbox" />
</appSettings>
